<!DOCTYPE html>
<html>
  <head>
    <title>Sinatra MVC</title>
  </head>

  <body>
    <h1>Index</h1>
    <p> I love programming </p>
    <img src = "https://i.kinja-img.com/gawker-media/image/upload/s--0FW9_PSk--/c_scale,f_auto,fl_progressive,q_80,w_800/18g1x3wrhojpjjpg.jpg"
  </body>
</html>