<!DOCTYPE html>
<html>
  <head>
     <title>Sinatra MVC</title>
  </head>
    

<body>
    <h1>Karlie's Bio</h1>
    <p> She grew up, you should too! </p>
    <img src = "https://i.ytimg.com/vi/1wkpF0ERSi4/maxresdefault.jpg"
  </body>
</html>